@import './src/scss/partials/_mixins';

.anim-fade-in {
  @include animation(fadeIn, 1s, ease-out, 1, forwards);
}

.anim-fade-in-up {
  @include animation(fadeInUp, 1s, ease-out, 1, forwards);
}

.anim-fade-in-down {
  @include animation(fadeInDown, 1s, ease-out, 1, forwards);
}

.anim-fade-in-right {
  @include animation(fadeInRight, 1s, ease-out, 1, forwards);
}

.anim-fade-in-zoom {
  @include animation(fadeInZoom, 1s, ease-out, 1, forwards);
}

.anim-before-fade-in-down {
  &::before {
    @include animation(fadeInDown, 1s, ease-out, 1, forwards);
  }
}

@include keyframes(fadeIn) {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@include keyframes(fadeInUp) {
  from {
    opacity: 0;
    @include transform(translateY(50%));
  }

  to {
    opacity: 1;
    @include transform(translateY(0));
  }
}

@include keyframes(fadeInDown) {
  from {
    opacity: 0;
    @include transform(translateY(-50%));
  }

  to {
    opacity: 1;
    @include transform(translateY(0));
  }
}

@include keyframes(fadeInRight) {
  from {
    opacity: 0;
    @include transform(translateX(-50%));
  }

  to {
    opacity: 1;
    @include transform(translateX(0));
  }
}

@include keyframes(fadeInZoom) {
  from {
    opacity: 0;
    @include transform(scale(0));
  }

  to {
    opacity: 1;
    @include transform(scale(1));
  }
}